<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Create a new listing</h1>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" placeholder="enter title" name="listing[title]" class="form-control" required>
        <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="listing[description]" class="form-label">Description</label>
            <textarea name="listing[description]" id="description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter short description</div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="listing[price]" class="form-label">price</label>
            <input type="number" placeholder="1200" name="listing[price]" class="form-control" required>
            </div>
            <div class="mb-3 col-md-8">
            <label for="listing[location]" class="form-label">Location</label>
            <input type="text" placeholder="Delhi" name="listing[location]" class="form-control" required>
            <div class="invalid-feedback">Please enter the location</div>
            </div>
        </div>
                <div class="mb-3">
            <label for="listing[image]" class="form-label">Upload Image</label>
            <input type="file"  name="listing[image]" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="listing[country]" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="India" class="form-control">
        <div class="invalid-feedback">Please enter the country name</div>
        </div>
        <br>
        <br>
        <button class="btn btn-dark add-btn">create</button>
    </form>
    </div>
    </div>
</body>